#photo img {
    border-radius: 10px;
}
/*
.mtb {
    margin: 2% 1% !important;
}


.top8 {
    top: 8%;
}


.width90 {
    width: 90% !important;
}*/

.max-width-100 {
    max-width: 100%;
    width: 800px;
}

